{:paths ["src" "test" "resources"]
 :deps
 {clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  sandbags/aido {:mvn/version "0.4.0"}
  cheshire/cheshire {:mvn/version "5.10.0"}
  clj-http/clj-http {:mvn/version "3.12.0"}
  org.clojure/clojure {:mvn/version "1.12.0"}
  aero/aero {:mvn/version "1.1.6"}
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
  diehard/diehard {:mvn/version "0.11.12"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  jakarta.mail/jakarta.mail-api {:mvn/version "2.1.2"}  ; for email
  com.sun.mail/jakarta.mail {:mvn/version "2.0.1"}
  org.clojure/data.codec {:mvn/version "0.1.1"}
  rhizome/rhizome {:mvn/version "0.2.9"}} ; for diagram generation
 :aliases
 {:dev {:extra-paths ["src"]
        :extra-deps {aero/aero {:mvn/version "1.1.6"}
                     org.clojure/tools.logging {:mvn/version "1.1.0"}
                     ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
                     diehard/diehard {:mvn/version "0.11.12"}}
        :jvm-opts ["-Djava.awt.headless=true"]
        :main-opts ["-m" "bt-controller.core"]}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:replace-deps {io.github.clojure/tools.build {:git/tag "v0.10.7" 
                                                        :git/sha "573711e"}}
          :jvm-opts ["-Djava.awt.headless=true"]
          :ns-default build}}}
