{:paths ["src" "test"]
 :deps
 {clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  sandbags/aido {:mvn/version "0.4.0"}}
 :aliases
 {:dev {:extra-paths ["src"]
        :main-opts ["-m" "behave-tree.core"]}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"                                           :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
